html, body {
	font: 11px "Arial", Lucida Grande, Verdana, Sans-Serif;
	margin: 0;
	padding: 0;
}
#container {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
#header {
    width:800px;
    text-align:center;
    margin-top:5px;
    margin-bottom:5px;
}
#header h1 {
    margin:0;
    font-size:18px;
}
#breadcrumb {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
}
#breadcrumb li{
    float:left;
    color:black;
    padding-right:3px;
}
#breadcrumb li a{
    text-decoration:none;
    font-style:italic;
    color:black;
}
#breadcrumb li a:hover{
    color:red;
}
#nav {
    list-style-type: none;
    margin:0;
    padding:0;
}
#nav li{
    float:left;
    text-align:center;
    width:25px;
}
#nav li#pages{
    width:700px;
    font-size:14px;
}
#nav li a img{
    border:0;
}
#content {
width:800px;
}
#large-image-frame {
    width:400px;
    float:left;
}
#large-image-box {
    margin-top:5px;
    padding-top:10px;
    width:320px;
    margin-right:auto;
    margin-left:auto;
    background-color:black;
    padding-bottom:10px;
}
#large-image-box img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
#large-image-box span{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height:60px;
    width:300px;
    background-color:white;
}
#thumbnail-box {
    width:400px;
    float:left;
}
#thumbnails {
    list-style-type: none;
    margin:0;
    padding:0;
    float:left;
}
#thumbnails li {
    margin:0;
    padding:0;
    float:left;
}
div.small-image-box {
    background-color:black;
    width:110px;
    margin-bottom:10px;
    margin-left:15px;
    text-align:center;
    padding-bottom:5px;
    padding-top:5px;
}
div.small-image-box img {
    margin-bottom:5px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
div.small-image-box span {
    height:10px;
    width:100px;
    background-color:white;
    display:block;
    font-size:6px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#instructions {
    width:800px;
}