/* typography */

#header_links a:link{
  text-decoration:  none;
  font-weight:      bold;
  color:            #FFFFFF;
}
 
#header_links a:visited{
  text-decoration:  none;
  font-weight:      bold;
  color:            #00CCFF;
  } 

#header_links a:hover{
  text-decoration:  underline;
  font-weight:      bold;
  color:            #00CCFF;
  } 

#header_links a:active{
  text-decoration:  underline;
  font-weight:      bold;
  color: #FFFFFF;
  } 

/* colors */

.green {
 color:#008000;
}

.purple {
 color:#B16CA2;
}

.blue {
 color:#88C5FB;
}

/* headings */

.heading1 {
 font-family:georgia, verdana, times;
 font-size:1.4em;
}

.heading2 {
 font-family:sans, sans-serif ;
 font-size:1.2em;
}

.heading3 {
 font-family: georgia, verdana, times;
 font-weight: bold;
 font-size:0.9em;
}

.main_text {
 font-family: sans ;
 font-size:0.8em;
}

/* links */

.main_link {
 font-size:0.6em;
 text-decoration:none;
 font-family: sans, verdana, serif;
}

.small_link {
 font-size:0.6em;
}

/* main body */
html, body{ 
 margin:0px; 
 } 
 
#pagewidth{ 
 width:780px;
 margin-left:auto;
 margin-right:auto;
} 
 
#header{
 border:1px black double;
 position:relative; 
 height:70px; 
 background-color:#000000; 
 width:100%;
} 

#header_logo{
 float:left;
 padding:10px;
}

#header_links{
 float:right;
 padding:20px 5px 0px 0px;
}

 
#top_col{
 clear:both;
 float:left;
 width:100%;
 overflow:hidden;
 padding-bottom:10px;
}

#top_col_pic{
 background-image: url(images/three_guys_bar.jpg);
 background-repeat:no-repeat;
 height:260px;
}

#top_col_text{
 width:100%;
 text-align:right;
}

#maincol{
 background-color: #FFFFFF;  
 float: left; 
 display:inline; 
 position: relative; 
 clear:both;
 width:100%;
 }

#lowercol{
 clear:both;
 float:left;
 position:relative;
 display:inline;
 width:100%;
 padding:10px 0px 10px 0px;
}
 
#welcome{
 float:left;
 width:50%;
}

#welcome_title{
}

#welcome_main{
 clear:both;
}

#welcome_pic{
 float:left;
 width:20%;
 margin-right:10px;
 margin-top:-8px;
}

#welcome_top{
 font-weight:bold;
 width:70%;
 float:right;
}

#welcome_text{
 float:right;
 width:70%;
 padding-top:10px;
}

#welcome_text a {
 text-decoration:none;
}

#latest{
 border: 1px #808080 double;
 padding:10px;
 float:right;
 width:45%;
}

.latest_row{
 clear:both;
 padding:8px 0px 8px 0px;
}

.latest_pic{
 float:left;
 padding-left:10px;
}

.latest_text{
 float:right;
 width:80%;
}

#left_block {
 width:30%;
 float:left;
}

#newsletter{
 border: 1px grey double;
 background-image: url(images/woman_on_phone1.jpg);
 background-repeat:no-repeat;
 height:131px;
 width:250px;
}

#newsletter p a {
 padding-left:15px;
}

#guarantee {
 margin-top:15px;
 border:1px grey double;
 width:250px;
 height:110px;
}

.no_pressure {
 margin:10px 5px;
 float:left;
 width:20%;
}

.no_pressure_text {
 float:right;
 width:50%;
 margin:10px;
}

.support_links {
 margin-top:-10px;
}

.support_text{
 padding:10px;
}

#todo{
 float:right;
 width:60%;
 border: 1px grey double;
 padding: 20px 20px 20px 20px;
}

.todo_col{
 float:left;
 width:30%;
}

/* features page */

#features_col {
 width:85%;
 clear:both; 
 margin-left:auto;
 margin-right:auto;
}

.features_title{
 text-align:left;
}

.feature_box {
 clear:both;
}

.feature_pic {
 float:left;
 width:20%;
 text-align:center;
}

.feature_text_box {
}

.feature_text_title {
  
}

.feature_text {
 width:75%;
 float:right;
}

/* services page */

#services_col{
 clear:both;
 width:85%;
 margin-left:auto;
 margin-right:auto;
}

.services_block {
 clear:both;
 margin:30px 0px 30px 0px;
}

/* contacts */



/* page footer */

#footer{
 height:50px; 
 font-size:0.6em;
  background-color:#a9a6a6; 
 clear:both;
 border:0px black double;
 } 

#footer_links{
 float:right;
 padding:10px;
 clear:both;
}

#footer_copyright{
 text-align:right;
 width:100%;
 clear:both;
 color:#FFFFFF;
}

#footer_links a:link{
  text-decoration:  none;
  font-weight:      bold;
  color:            #FFFFFF;
}
 
#footer_links a:visited{
  text-decoration:  none;
  font-weight:      bold;
  color:            #00CCFF;
  } 

#footer_links a:hover{
  text-decoration:  underline;
  font-weight:      bold;
  color:            #00CCFF;
  } 

#footer_links a:active{
  text-decoration:  underline;
  font-weight:      bold;
  color: #00CCFF;
  } 
 
 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  
