body {
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
td {
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
a {
	padding: 0;
	margin: 0;
	font-family: Verdana;
    text-decoration: none;
	color: #444444;
	font-size: 10px;
}
form {
    margin: 0;
    padding: 0;
}
.selected {
    font-weight: bold;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.not_selected {
    font-weight: normal;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.bg {
	background-image: url(../images/bg/popup_status.jpg);
	background-repeat: repeat-x;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.chat_bg {
	background-image: url(../images/bg/popup_header.jpg);
	background-repeat: repeat-x;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.picture {
	background-image: url(../images/chat_top_pic.gif);
	background-repeat: no-repeat;
	background-position: top left;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.no_picture {
	background-image: url(../images/chat_top_nopic.gif);
	background-repeat: no-repeat;
	background-position: top left;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.large td {
	font-family: Verdana;
	color: #444444;
	font-size: 12px;
}
#time {
    padding-right: 2px;
    font-weight: bold;
    font-size: 10px;
}
#textsize {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 12px;
}
#content {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
	background-image: url(../images/bg/popup_page.jpg);
	background-repeat: repeat-x;
}
#footer {
    font-family: Verdana;
    color: #BBBBBB;
    font-size: 9px;
}
#footer a {
    font-family: Verdana;
    color: #BBBBBB;
    font-size: 9px;
    text-decoration: none;
    padding: 0;
}
.operator {
	padding: 5px;
	margin: 0;
}
.guest {
	padding: 5px;
	margin: 0;
}
table.list {
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
}

table.list tr td {
border-bottom: 1px solid #CCCCCC;
padding: 5px;
}

table.list tr.alt td {
    background-color: #D9F2FF;
}

table.list tr.main td {
background-color: #DDDDDD;
}

table.list tr td.mini-button {
width: 24px;
padding: 1px 0 1px 0;
} 