body {
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
td {
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
a {
	padding: 0;
	margin: 0;
	font-family: Verdana;
    text-decoration: none;
	color: #444444;
	font-size: 10px;
}
.online {
	background-color: #5FAD89;
}
.offline {
	background-color: #AD575F;
}
.bg {
	background-image: url(../images/bg/popup_status.jpg);
	background-repeat: repeat-x;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.chat_bg {
	background-image: url(../images/bg/popup_header.jpg);
	background-repeat: repeat-x;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
#content {
	padding-bottom: 5px;
	background-image: url(../images/bg/popup_page.jpg);
	background-repeat: repeat-x;
}
#footer {
    font-family: Verdana;
    color: #BBBBBB;
    font-size: 9px;
}
#footer a {
    font-family: Verdana;
    color: #BBBBBB;
    font-size: 9px;
    text-decoration: none;
    padding: 0;
}

table.list {
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
}

table.list tr td {
border-bottom: 1px solid #CCCCCC;
padding: 5px;
}

table.list tr.alt td {
    background-color: #D9F2FF;
}

table.list tr.main td {
background-color: #DDDDDD;
}

table.list tr td.mini-button {
width: 24px;
padding: 1px 0 1px 0;
} 