<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
<title>{SITENAME}</title>
<link rel='stylesheet' type='text/css' href='css_page/form_style.css' />
<link rel='stylesheet' type='text/css' href='css_page/chromestyle.css' />
<link rel='stylesheet' type='text/css' href='css_page/employer_page.css' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<script src="/js/prototype.js" type="text/javascript"></script>
<script src="/js/scriptaculous.js" type="text/javascript"></script>

</head>


<body>
<div class='container'>
<div class='titleblock'>

<div id="logo">&nbsp;</div>

<h1 class='style9' align='right'>{SITENAME}</h1>
<p class='style1 style13'>Teachers helping teachers </p>

</div>

{NAVBAR}

<div class='content'>
<blockquote>

   <div class='search_bar' >
   <form action='recruiter_panel.php' method='get' >
      <label>Country:
	<select name='country' >	
	{COUNTRY_SELECTION}
	</select>
      </label>   
	&nbsp;&nbsp;
      <label>Arrival:
	<select name='arrival' >	
	     {PROGRESSIVE_MONTHS}
	</select>
      </label>   
	&nbsp;&nbsp;	
      <label>Search:
       <input type='text' name='text_search' />
      </label>
       &nbsp;&nbsp;
	<input type='submit' value='search' />
    </form>
   </div>

   <div class='main_col' >

     <div class='left_box'>
      lkjljljk
     </div>
 
     <div class='teacher_gallery' >

<!-- BEGIN TEACHER_CANDIDATES -->

       <div  class='demo-effect-switchoff_{TEACHER_CANDIDATES.SWITCH_COUNT}' id='demo-effect-switchoff_{TEACHER_CANDIDATES.SWITCH_COUNT}' >
	<div class='teacher_image'  >
           <a href='/gallery.php?id={TEACHER_CANDIDATES.TEACHER_ID}' ><img height='80px' width='60px' src="uploads/{TEACHER_CANDIDATES.TEACHER_PIC_UPLOAD}" alt="" /></a>
	</div>
	<div class='teacher_text' >
	    <span class='name' >NAME: {TEACHER_CANDIDATES.TEACHER_NAME_ONLY}</span><br />
	    <span class='nationality' >NATIONALITY: {TEACHER_CANDIDATES.TEACHER_NATIONALITY}</span><br />
	    <span class='birthyear' >BIRTHYEAR: {TEACHER_CANDIDATES.TEACHER_BIRTHYEAR}</span><br />
	    <span class='birthyear' >INTRODUCTION:{TEACHER_CANDIDATES.TEACHER_INTRO}</span><br />
	</div>
	<div class='hide_teacher' >
	  <img onclick="new Effect.SwitchOff('demo-effect-switchoff_{TEACHER_CANDIDATES.SWITCH_COUNT}'); window.setTimeout('Effect.Appear(\'demo-effect-switchoff_{TEACHER_CANDIDATES.SWITCH_COUNT}\', {duration:.3})',2500000);" src='images/etk-icons/delete-19.png' alt='delete' />
	</div>        
      </div>

<!-- END TEACHER_CANDIDATES --> 

   </div>

  </div>

</blockquote>
<p>

</p>

</div>

<div class='footer'>
<div class='right style11'>
<p class='style14'>&copy; 2005 {SITENAME} </p>

<p>&nbsp;</p>

</div>

</div>

</div>

</body>
</html>
