body {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size: 80%;
}
#container {
	width: 673px;
	margin: 0px auto;
	height: 100%; 
}
#top {
	color: #FFFFFF;
	width: 221px;
	height: 140px;
	background-color: #778CB3;
}
#topright {
	float: right;
	height: 140px;
	width: 447px;
	text-align: right;
}

.cl {
clear:both;
}
#gallery {
	width: 673px;
	padding-top: 5px;
}
#news {
	width: 213px;
	height: 100%;
	margin-top: 5px;
	background-color: #778CB3;
	color: #FFFFFF;
	padding: 4px;
}
#menu {
	width: 422px;
	background-color: #F7CB33;
	padding: 13px;
	border-bottom: 5px solid #FFFFFF;
	float: right;
}
#menu a:link, #menu a:visited, #menu a:active {
	background-color: #F7CB33;
	padding: 13px;
	text-decoration: none;
	color: #000000;
}
#menu a:hover {
	padding: 13px;
	background-color: #F01E1E;
	text-decoration: none;
	color: #FFFFFF;
}
#content {
	width: 100%;
	float: right;
	height: 100%;
	margin-top: 5px;
	background-color: #A0AFCB;
}
p {
        margin: 5px 0 0 0px;
        text-indent: 1.5em; 
}
h1 {
	padding: 4px;
	margin: 4px;
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #F7CB33;
}
#title {
        text-align: center;
	padding-bottom: 10px;
	font-size: 280%;
	font-weight: normal;
	color: #FFFFFF;
}
#pad {
	padding: 12px;
	color: #000000;
}
#footer {
	background-color: #F7CB33;
	padding: 12px;
	width: 649px;
	color:#000000;
	font-size: 90%;
	text-align: center;
	clear:both;
	border-top: 5px solid #FFFFFF;
}
#footer a:link, #footer a:active, #footer a:hover, #footer a:visited {
	color:#000000;
}
h4 {
	font-size: 180%;
	color: #F01E1E;
}
#header {
        font-size:15px;       
}
#country{
font-size:1.5em; 
font-weight:bold; 
}
#category{
font-size:1.2em; 
margin:10px;  
font-style:italic; 
}
#address{
margin:10px; 
}