#title{
 font-weight:bold;
 font-size:1.5em;
}
#required{
 font-size:0.6em;
}

<!--
.style1 {color: #FFFFFF}
.style5 {font-size: 14px}
.style9 {
color: #FFFFFF;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
body,td,th {
font-size: 97%;
}
.style11 {font-size: 10px}
body {
background-color: #82A9E9;
}
.style13 {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.style14 {font-size: 12px}
.style15 {
color: #FFCC00;
font-weight: bold;
}
-->

/* style sheet add-in */

body {
margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:80%; color:#666666; text-align:center;
background-color:#DDDDDD;}

p {
margin:0.2em 0 1.2em 0; padding:0.3em;}

h1 {
padding:0; margin:0;font-size:250%; font-weight:normal; font-style:none; 
color:#8CD749; font-family:Arial, Helvetica, sans-serif;}

h2 {
background-color:#DDDDDD; color:#3B4471; font-size:100%; font-weight:normal; margin:0.2em; padding:0; 
font-style:italic; font-family:Arial, Helvetica, sans-serif;}

div {
margin:0; padding:0; display:block;}

a:link, a:visited {
color:#000000; text-decoration:none;}
a:hover {
color:#008103; text-decoration:none;}
a:active {
color:#000000; text-decoration:none;}



.container {
background-color:#FFFFFF; margin:0 auto 0 auto; padding:0; width:75%;}

.titleblock {
padding:2em; margin:0; text-align:right;
background-image:url(greenglobe.jpg); background-repeat:no-repeat; background-position:center right;}

.titleblock p {
text-indent:4em; color:#FFFFFF;}



ul.navbar {
list-style-type:none; float:left; display:block; width:100%; line-height:1.5em; 
clear:both; margin:0; padding:0; background-color:#FECA02;}

ul.navbar li {
display:inline;}

a.nav:link, a.nav:visited {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#FECA02; color:#000000;}

a.nav:hover {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#82A9E9; color:#FFFFFF;}

a.nav:active {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#FECA02; color:#000000;}



.rightcontainer {
float:right; clear:both; width:13em; margin:1em 0 0 0; padding:0;}

.rightbox {
margin:0.5em; padding:0.3em; border:1px solid #999999; text-align:center;}

.rightcontainer h2 {
text-align:left; padding:0 0 0 1.5em;}

.linkbox a {display:block;}



.content {
clear:left; text-align:left; margin:1.2em .0em 0 0; padding:1em 1ex 1em 1.5ex;}

.content h2 {text-indent:3em;}

.myfieldset {
 width:400px;
 margin:auto;
}

.footer {
color:#999999; font-size:75%; margin:2.5em 0.2em 0.5em 0.5em; padding:2.8em; 
border-top:1px solid #999999; text-align:left; clear:both;}

.footer .right {
float:right; clear:right; text-align:right;}

.footer p {margin:0;}

