.search_bar{
 clear:both;
 padding:10px 0px 10px 0px ;
 background-color:#00CCFF;
 width:675px;
}

.main_col{
 width:675px;
 padding:10px 0px 20px 0px;
}

.left_box {
 float:left;
 padding: 10px 0px 10px 0px;
 width:30%;
 height:1000px;
 background-color:#00CCFF;
}

.teacher_gallery > *{
 width:68%;
 border:thick red double;
 display:block;
 padding:0px;
 overflow:hidden;
 height:100px;
}

.teacher_image{
 float:left;
 position:relative;
}

.teacher_text{
 background-color:#FFFFFF;
 height:100%;
 width:55%;
 float:left;
 overflow:hidden;
}

.teacher_text span {
 padding:10px;
}

.hide_teacher{
 float:right;
}
