/* CSS Document */
#title{
 font-weight:bold;
 font-size:1.5em;
}
#required{
 font-size:0.6em;
}

<!--
.style1 {color: #FFFFFF}
.style5 {font-size: 14px}
.style9 {
color: #FFFFFF;
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
body,td,th {
font-size: 90%;
}
.style11 {font-size: 10px}
body {
background-color: #82A9E9;
}
.style13 {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.style14 {font-size: 12px}
.style15 {
color: #FFCC00;
font-weight: bold;
}
-->

/* images here */
.mail_reply_img {
 background-image:url('/images/etk-icons/mail-reply19.png'); 
 background-repeat:no-repeat; 
 border:0px;
 height:30px;
 width:30px;
}

.delete_img {
 background-image:url('/images/etk-icons/delete-19.png');
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

.phone_img {
 background-image:url('/images/etk-icons/phone-small22.gif');
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

.agreed_img {
 background-image:url('/images/etk-icons/emblem-handshake.png');
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

.blue_folder_img {
 background-image:url(/images/etk-icons/stock_search.png);
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

.recruiter_send {
 background-image:url(/images/etk-icons/target19.png);
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

.school_send {
 background-image:url(/images/etk-icons/target19.png);
 background-repeat:no-repeat;
 border:0px;
 height:30px;
 width:30px;
}

/* style sheet add-in */

body {
margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:80%; color:#666666; text-align:center;
background-color:#DDDDDD;}

p {
margin:0.2em 0 1.2em 0; padding:0.3em;}

h1 {
padding:0; margin:0;font-size:250%; font-weight:normal;
color:#8CD749; font-family:Arial, Helvetica, sans-serif;}

h2 {
background-color:#DDDDDD; color:#3B4471; font-size:100%; font-weight:normal; margin:0.2em; padding:0; 
font-family:Arial, Helvetica, sans-serif;}

div {
margin:0; padding:0; display:block;}

a:link {
color:#0000; text-decoration:none;}
a:visited {
color:#000000; text-decoration:none;}
a:hover {
color:#008103; text-decoration:none;}
a:active {
color:#000000; text-decoration:none;}

.container {
height:100%;background-color:#FFFFFF; margin:0 auto 0 auto; padding:0; width:75%;}

/* set the general background color for the tables */
.table_color{

  background-color:#FFFFCC;

}

.titleblock {
 padding:2em; 
 margin:0; 
 text-align:right;
 background-image:url(../images/greenglobe.jpg); 
 background-repeat:no-repeat; 
 background-position:center right;
}

#tabs {
 border : 1px solid #999;
 margin: 0px;
 padding-bottom : 5px;
 padding-left: 40px;
}
#tabs ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;
} 

#tabs ul li {
 background-color: #eaeaea;
 margin-left: 4px;
 margin-bottom: 0;
 padding: 2px 15px 5px;
 border: 1px solid #999;
 list-style: none;
 display: inline;
}

#tabs ul li.here {
 background-color: #fff;
 border-bottom: 1px solid #fff;
 list-style: none;
 display: inline;
}

#logo{
 padding:5px 0px 5px 10px;
 height:64px;
 width:140px;
 background-repeat:no-repeat;
 background-position:left; 
 background-image: url(../images/logo.gif);
 float:left;
}

#header{

}

/* colors */
.table_color {
 background-color:#FFFFCC;
}

/* this is for the form output that we 
   use for easy changing of values */
.input_node {
 border:0;
 background-color:#FFFFCC;
 }

.textarea_node {
 border:0;
 rows:100;
 background-color:#FFFFCC;
} 

.error_title{
text-align:center;font-weight:bold;font-size:20px; 
}

.error_text{
text-align:center;
}

.titleblock p {
text-indent:4em; color:#FFFFFF;}

ul.navbar {
list-style-type:none; float:left; display:block; width:100%; line-height:1.5em; 
clear:both; margin:0; padding:0; background-color:#FECA02;}

ul.navbar li {
display:inline;}

a.nav:link, a.nav:visited {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#FECA02; color:#000000;}

a.nav:hover {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#82A9E9; color:#FFFFFF;}

a.nav:active {
display:block; float:left; width:12.5%; padding:1.2em 0 1.2em 0; margin:0; 
text-decoration:none; background-color:#FECA02; color:#000000;}

.rightcontainer {
float:right; clear:both; width:13em; margin:1em 0 0 0; padding:0;}

.rightbox {
margin:0.5em; padding:0.3em; border:1px solid #999999; text-align:center;}

.rightcontainer h2 {
text-align:left; padding:0 0 0 1.5em;}

.linkbox a {display:block;}

.content {
clear:left; text-align:left; margin:1.2em .0em 0 0; padding:1em 1ex 1em 1.5ex;}

.content h2 {text-indent:3em;}

.myfieldset {
 width:400px;
 margin:auto;
}
/* for the bookmark page */
.bookmark-title{
  font-size:1.3em;
}

/* the table width for control panel */
.info_table {
   width:100%;
   border:0px;
   table-layout:fixed;
   text-align:left;
}

/* the table width for control panel */
.info_title {
   width:100%;
   border-spacing:0px;
   table-layout:fixed;
   text-align:left;
}

/* regular recurring classes */
.delete {
 text-align:center;
}

/* main boxes that contain the email, reminder, teachers etc.. */
.main_box {
 margin:10px 0px 10px 0px;
 table-layout:fixed;
 width:90%;
}

/* this is the yellow bar across the top of the 
 * inputs on the control_panel 
 */
.info_table_bar{
 background-color:yellow;
}

.info_table_holder {
   width:100%; 
   border:0px; 
   padding:5px;
}

/* book call on gallery page */
.book-call {
 margin-left: 1em; 
 margin-bottom: 1em; 
 width:15px; 
 margin:20px 0px 20px 0px;
}

/* recruiter notes */
.recruiter_notes_box {
 padding:10px;
}

.recruiter_notes_text {
 background-color:#FFFFFF;
 border:1px black double;
 padding:8px;
 margin:10px 0px 10px 0px;
}

/* for the autocomplete page */
div.autocomplete {
   position:absolute;
   width:250px;
   background-color:white;
   border:1px solid #888;
   margin:0px;
   padding:0px;
 }
 ul.contacts  {
   list-style-type: none;
   margin:0px;
   padding:0px;
 }
 ul.contacts li.selected { background-color: #ffb; }
 li.contact {
   list-style-type: none;
   display:block;
   margin:0;
   padding:2px;
   height:32px;
 }
 li.contact div.image {
   float:left;
   width:32px;
   height:32px;
   margin-right:8px;
 }
 li.contact div.name {
   font-weight:bold;
   font-size:12px;
   line-height:1.2em;
 }
 li.contact div.email {
   font-size:10px;
   color:#888;
 }
 #list {
   margin:0;
   margin-top:10px;
   padding:0;
   list-style-type: none;
   width:250px;
 }
 #list li {
   margin:0;
   margin-bottom:4px;
   padding:5px;
   border:1px solid #888;
   cursor:move;
 }

.optional{
color:black;
font-size:7.5pt;
}

.footer {
color:#999999; font-size:75%; margin:2.5em 0.2em 0.5em 0.5em; padding:2.8em; 
border-top:1px solid #999999; text-align:left; clear:both;}

.footer .right {
float:right; clear:right; text-align:right;}

.footer p {margin:0;}

