
/* screen styles */
img{
border:0px;
}

/* typography */

/* navigation bar */

ul#nav {
    list-style: none;
    margin-left:110px;
    margin-top: 16px;
    width: 520px;
    position: relative;
    left: 135px;
/*    background: url(navbar.gif) 0 -28px no-repeat;*/
}

#home ul#nav {
   left: 100px;
}

ul#nav li {
    height: 33px;
   float: right;
}


/* Set up the navigation links */

/* overall link code */
ul#nav li a {
        color:black;
        display: block;
        text-indent: -3000px;
        text-decoration: none;
        background-image: url(../images/navbar.gif);
        background-repeat: no-repeat;
        position: absolute;
        height: 33px;
}

/* home page */
ul#nav li#nav_home a {
    width: 75px;
    background-position: 0 0;
    top: 10px;
    left: 0;
}
ul#nav li#nav_home a:hover { /* Rollover */
    background-position: 0 -33px;
}

/* Jobs link */
ul#nav li#nav_jobs a {
    width: 75px;
    background-position: -76px 0;
    top: 10px;
    left: 80px;
}
ul#nav li#nav_jobs a:hover { /* Rollover */
    background-position: -76px -33px;
}

/* My Korea link */
ul#nav li#nav_korea a {
    width: 90px;
    background-position: -150px 0;
    top: 10px;
    left: 157px;
}
ul#nav li#nav_korea a:hover { /* Rollover */
    background-position: -150px -33px;
}

/* Visa Link */
ul#nav li#nav_visa a {
    width: 75px;
    background-position: -240px 0;
    top: 10px;
    left: 250px;
}
ul#nav li#nav_visa a:hover { /* Rollover */
    background-position: -240px -33px;
}

/* Links */
ul#nav li#nav_links a {
    width:90px;
    background-position: -314px 0;
    top: 10px;
    left: 328px;
}
ul#nav li#nav_links a:hover { /* Rollover */
    background-position: -314px -33px;
}


/* Contact */
ul#nav li#nav_contact a {
    width:120px;
    background-position: -405px 0;
    top: 10px;
    left: 420px;
}
ul#nav li#nav_contact a:hover { /* Rollover */
    background-position: -405px -33px;
}

/* layout */

html, body{ 
 margin-top:-8px; 
 padding:0px; 
 text-align:center; 
 font-size:13px;
 height:100%;
} 
 
#pagewidth{ 
 width:780px; 
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;  
} 
 
#header{
 position:relative;  
 background-color:#00ccff; 
 width:100%;
 height:100px;
} 

.logo{
 padding:5px 0px 5px 10px;
 height:64px;
 width:140px;
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/logo.gif);
}

#top_bar{
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/top-bar.gif);
 padding-top:14px; 
}
 
#leftcol{
 width:30%; 
 float:left; 
 position:relative; 
 background-color:#FFFFFF; 
 }
 
#top_image{
 background-repeat:no-repeat;
 background-position:top; 
 background-image: url(../images/testamonials-top.gif);
 height:15px;
 position:relative;
 top:3px;
}

#dave_contact{
 background-color :#FFFFCC;
 height:380px;

}

#dave_contact_pic{
 float:left;
 padding:10px 10px 10px 10px;
}

#dave_contact_text{
 padding:10px 10px 10px 10px;
 font-size:0.9em;
}

.contact{
 padding:0px 0px 0px 3px;
}

.contact_details{
 float:left;
 font-stretched:ultra-condensed;
 font-size:0.8em;
}

.contact_flag{
 float:left;
 padding:2px 10px 0px 0px;
 height:25px;
 width:40px;
 display:block;
}

#calculator{
 width:238px;
 background-color :#f8fbdb;
}

#bottom_image{
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/testamonials-bottom.gif);
 height:15px;
 position:relative;
 bottom:3px;
}

#maincol{
 background-color: #FFFFFF;  
 float: right; 
 display:inline; 
 position: relative; 
 width:68%; 
 }

#visa_pic{
 float:right;
 height:190px;
 width:190px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/hallway.jpg); 
}

#jobs_pic{
 float:right;
 height:190px;
 width:190px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/hand-shake.jpg); 
}

#korea_pic{
 float:right;
 height:260px;
 width:190px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/korea.jpg); 
}

/ * links page only */

#links_pic{
 float:right;
 height:190px;
 width:190px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/man-thinking.jpg); 
}

#country{

font-size:1.5em; 

font-weight:bold; 

}

#category{

font-size:1.2em; 

margin:10px;  

font-style:italic; 

}

#address{

margin:10px; 

}

#main_text{

}

#leftcol{
 
}

/* links page end */

#footer{ 
 background-color:#00ccff; 
 clear:both;
 height:60px;
}

.bottom_bar{
 position:relative;
 top:-1px;
 right:2px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/bottom-bar.gif);
 height:60px;  
} 

.copyright {
 float:right;
 valign:bottom;
 padding:20px 10px 3px 0px;
 color:white;
 font-size:0.8em;
}

 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 /*printer styles*/ 
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}
