
/* Header */

ul#nav {
 position:relative;
 left:-25px;

}

.navbar{
 width:500px;
 background-position:right;
 float:right;
}

.logo{
 float:left;
 position:relative;
 background-position:bottom;
}

#top_bar{
 padding-top:17px; 
}
