/* screen style */
a{
 position:relative;
}

/* Layout */

#twocols{
 width:67%;
}

/* Header */

ul#nav {
 position:relative;
 left:-25px;

}

#top_bar{
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/top-bar.gif);
 padding-top:100px; 
}

.navbar{
 width:500px;
 background-position:right;
 float:right;
}

.logo{
 float:left;
 position:relative;
 background-position:bottom;
}


/* Main column */

#maincol{
 position:relative;
 width:50%;
}

.thumb-box{
 padding:5px 0px 5px 0px;
}

/* Right-hand side */

#rightcol{
 width:46%;
}

#rightcol .right_table_top{
 position:relative;
 top:12px;
}

#rightcol .right_table_bottom{
 postion:relative;
 top:-12px;
}

.testamonials_table{
 margin:3px;
}

.testamonials_text{
 height:112px;
}

#testamonials_inner_box{
 clear:both;
}

.testamonials_more{
 position:relative;
 top:30px;
}

/* Left-hand side */

.left_title{
 font-size:3.0em;
}

#left-boxes{
 padding:0px;
}

.news_box_text{
 height:85px;
}

.newsletter-top{
 top:9px;
 position:relative;
}

.newsletter-bottom{
 position:relative;
 top:-9px;
}
