ul#nav {
 margin-left:-30px;
}

#top_bar {
 margin-top:-18px;
}

.newsletter-top {
 height:10px;
 top:0px;
}

.newsletter-bottom {
 top:0px;
}

.testamonials_more {
 top:-10px;
}

.copyright {
 margin-top:20px;
}
