/* screen styles */
img{
border:0px;
}

/* typography */

/* logo */

.logo{
 padding:5px 0px 5px 10px;
 height:64px;
 width:140px;
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/logo.gif);
}

#top_bar{
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/top-bar.gif);
 padding-top:10px; 
}

/* navigation bar */
/* IE6 only sees a hover on an anchor element a:hover */

ul#nav {
    list-style: none;
    margin-left:110px;
    margin-top: 16px;
    width: 520px;
    position: relative;
    left: 135px;
}

#home ul#nav {
   left: 100px;
}

ul#nav li {
   height: 33px;
   float: right;
}


/* Set up the navigation links */

/* overall link code */
ul#nav li a {
        color:#000000;
        display: block;
        text-indent: -3000px;
        text-decoration: none;
        background-image: url(../images/navbar.gif);
        background-repeat: no-repeat;
        position: absolute;
        height: 33px;
}

/* home page */
ul#nav li#nav_home a {
    width: 75px;
    background-position: 0 0;
    top: 10px;
    left: 0;
}
ul#nav li#nav_home a:hover { /* Rollover */
    background-position: 0 -33px;
}

/* Jobs link */
ul#nav li#nav_jobs a {
    width: 75px;
    background-position: -76px 0;
    top: 10px;
    left: 80px;
}
ul#nav li#nav_jobs a:hover { /* Rollover */
    background-position: -76px -33px;
}

/* My Korea link */
ul#nav li#nav_korea a {
    width: 90px;
    background-position: -150px 0;
    top: 10px;
    left: 157px;
}
ul#nav li#nav_korea a:hover { /* Rollover */
    background-position: -150px -33px;
}

/* Visa Link */
ul#nav li#nav_visa a {
    width: 75px;
    background-position: -240px 0;
    top: 10px;
    left: 250px;
}
ul#nav li#nav_visa a:hover { /* Rollover */
    background-position: -240px -33px;
}

/* Links */
ul#nav li#nav_links a {
    width:90px;
    background-position: -314px 0;
    top: 10px;
    left: 328px;
}
ul#nav li#nav_links a:hover { /* Rollover */
    background-position: -314px -33px;
}


/* Contact */
ul#nav li#nav_contact a {
    width:120px;
    background-position: -405px 0;
    top: 10px;
    left: 420px;
}
ul#nav li#nav_contact a:hover { /* Rollover */
    background-position: -405px -33px;
}

/* layout */

html, body{ 
 margin-top:-8px; 
 padding:0; 
 text-align:center; 
 background-color:#FFFFFF; 
} 
 
#pagewidth{ 
 width:790px; 
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;  
} 
 
#header{
 position:relative;  
 background-color:#00ccff; 
 width:100%;
 height:100px;
} 

#leftcol{
 width:5%; 
 float:left; 
 position:relative;
  }

#twocols{
 width:70%; 
 float:right; 
 position:relative; 
  }

#rightcol{
 width:43%; 
 float:right; 
 position:relative; 
}

#rightcol .right_col_main{
 background-color:#f8fbdb;
}

#rightcol .right_table_top{
 background-repeat:no-repeat;
 background-position:top; 
 background-image: url(../images/testamonials-top.gif);
 height:10px;
 top:10px;
 position:relative;
}

#rightcol .right_table_bottom{
 background-repeat:no-repeat;
 background-position:bottom; 
 background-image: url(../images/testamonials-bottom.gif);
 height:15px;
 position:relative;
 top:-13px;
}

.apply{
 padding:0px 10px 0px 0px;
 height:114px; 
 background-image:url(../images/yellow-seal.gif);
 background-position:center;
 background-repeat: no-repeat;
}

.testamonials_title{
 color: #ffcc00;
 font-size:1.6em;
 font-family:georgia;

}

.apply_now{
 display:block;
 width:232px;
 clear:both;
 background-image:url(../images/apply-now.png);
 background-position:center;
 background-repeat: no-repeat;
 height:50px;
 padding-top:10px;
}

.testamonials_table{
 position:relative;
 padding:10px 20px 20px 10px;
 margin:10px;
}

.testamonials_box{
 padding:5px 0px 5px 0px;
 height:112px;
}

.testamonials_pic1{
 float:left;
 margin-right:4px;
 background-image:url(../images/small_graeme.jpg);
 background-position:top;
 background-repeat:no-repeat;
 height:40px;
 width:30px;
}

.testamonials_pic2{
 float:right;
 margin-left:4px;
 background-image:url(../images/small_eric.jpg);
 background-position:top;
 background-repeat:no-repeat;
 height:50px;
 width:30px;
}

.testamonials_text{
 font-family:georgia;
 font-size:0.8em;
 overflow:hidden;
 height:110px;
}

.testamonials_more{
 font-family:georgia;
 font-size:0.6em;
 text-align:right;
}

.testamonials_inner_box{

}

#left_boxes{
 padding: 5px 2px 0px 2px; 
}

.left_title{
 font-family:georgia;
 font-size:3.0em;
 color: #ffbc00;
}

.JobsNews{
 font-size:1em;
 font-family:georgia;
}

.news_box_second{
 font-family: georgia;
 font-size:.9em;
 clear:both;
}

.news_box_date{
 font-family:georgia;
 font-size:1.2em;
 padding:2px;
 color: #ffbc00;
}

.news_boxes{
 border-top: 0px none #ffffff;
 border:1.1px dashed #000000;
 border-top:0px;
 height:90px;
 width:238px;
 border-bottom:0px;
}

.news_box_text{
 padding:0px 6px 0px 6px;
 font-family:arial;
 font-size:0.8em;
 height:79px;
 overflow:hidden;
 color:#000000;
}

.news_box_more{
 float:right;
 padding-right:6px;
 font-size:0.7em;
 top:-6px;
}

.newsletter{
 width:243px;
 padding-bottom:0px;
}

.newsletter-top{
 background-image:url(../images/newsletter-top.gif);
 background-position:top;
 background-repeat:no-repeat;
 height:10px;
}

.newsletter-title{
 font-weight:bold;
 color:#ffffff;
 font-family:verdana;
}

.newsletter-body{
 padding-left:5px;
 background-color:#00ccff;
 color:white;
}

.newsletter-body label {
 font-size:0.8em;
 font-weight:bold;
 font-family:bold;
}

.newsletter-input{
 clear:both;
}

.newsletter-input input {
 text-align:right;
 float:right;
}

.newsletter-bottom{
 background-image:url(../images/newsletter-bottom.gif);
 background-position:bottom;
 background-repeat:no-repeat;
 height:10px;
}

.contact{
 padding:0px;
}

.contact_details{
 float:left;
 font-size:0.67em;
}

.contact_flag{
 float:left;
 padding:2px 10px 0px 0px;
 height:25px;
 width:40px;
 display:block;
}

#maincol{
 background-color: #ffffff;  
 float:left; 
 display:inline; 
 position: relative; 
 width:57%;
 }

#main_text{
 padding:0px 20px 0px 20px;
 font-size:0.8em;
 position:relative;
}

.thumb-box{
  right:-30px;
  padding:5px 20px 5px 0px;
  width:280px;
  float:right;
}

.david_bar{
 height:195px;
}

.why_wait{
 font-size:1.5em;
 color:#8a8887;
 right:-100px;
 height:50px;
}

.david_pic{
 height:195px;
 width:200px;
 right:-15px;
 float:left;
 position: relative;
 background-image:url(../images/david-smaller.jpg);
 background-position:top;
 background-repeat:no-repeat;
}

.thumb-right{
 
}

.thumb-chat{
 float:left;
 width:40px;
 height:70px;
 position:relative;
 background-image:url(../images/etk-icons/emblem-people.jpg);
 background-repeat:no-repeat;
}

.thumb-callback{
 float:left;
 width:40px;
 height:70px;
 position:relative;
 background-image:url(../images/etk-icons/emblem-phone.jpg);
 background-repeat:no-repeat;
}

.thumb-movie{
 float:left;
 width:40px;
 height:70px;
 position:relative;
 background-image:url(../images/etk-icons/emblem-multimedia.jpg);
 background-repeat:no-repeat;
}

.thumb-guide{
 float:left;
 width:40px;
 height:70px;
 position:relative;
 background-image:url(../images/etk-icons/emblem-note.jpg);
 background-repeat:no-repeat;
}

.thumb-gallery{
 float:left;
 width:40px;
 height:70px;
 position:relative;
 background-image:url(../images/etk-icons/emblem-pictures.jpg);
 background-repeat:no-repeat;
}

.thumb-askgari{
 float:left;
 width:40px;
 height: 70px;
 background:url(../images/etk-icons/emblem-presentation.jpg);
 background-repeat:no-repeat;
}

.thumb-cell{
 font-size:0.8em;
 background-color:#ffffff;
 clear:both;
}

.thumb-title{
 font-size:0.9em;
 color: #ffbc00;
 font-family:Verdana;
 font-weight:bold;
}

.thumb-text{
 font-size:0.9em;
}

.postcard{
 position: relative;
 height:140px;
 width:180px;
 float:right;
 background-image:url(../images/postcard.jpg);
 background-position:right;
 background-repeat:no-repeat;
}

#main_first_row{
 clear:both;
}
 
.EnglishTeachingGuide{
 background-repeat:no-repeat;
 background-image: url(../images/EnglishTeachingKorea.gif);
 width:80px;
 height:100px;
 float:right;
}

.first_text{
 font-family:arial;
}

#footer{ 
 background-color:#00ccff; 
 clear:both;
 height:60px;
}

.bottom_bar{
 position:relative;top:-1px;
 background-position:top;
 background-repeat:no-repeat;
 background-image: url(../images/bottom-bar.gif);
 height:60px;  
} 

.copyright {
 float:right;
 valign:bottom;
 padding:20px 10px 3px 0px;
 color:white;
 font-size:0.8em;
}
 
/* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 /*printer styles*/ 
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 

/*hide the right column when printing*/ 
#rightcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}

